<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成功提醒</title>
    <style>
        div{
            width: 60%;
            margin: 20px auto;
            background-color: lightgreen;
        }
       a, h1{
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div>
        <h1>:)操作成功</h1>
        <br>
        <a href="<%= path %>">继续<%= option %></a>
    </div>

</body>
</html>